<nav aria-label="Breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb__item">
            <a href="/" class="breadcrumb__link">Home</a>
        </li>
        <li class="breadcrumb__item">
            <a href="/blog/" class="breadcrumb__link">Blog</a>
        </li>
        <li class="breadcrumb__item">
            <span class="breadcrumb__current">{{ title }}</span>
        </li>
    </ol>
</nav>
